<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/img/favicon.jpg" type="image/x-icon">
  <meta charset="UTF-8">
  <title>Anecdoter</title>
</head>
<body>
<div>
  <div class="rjaka">
    <img src="/static/img/rjekich.png">
  </div>
  <div id="cover">
    <form method="get" action="{{url_for('get_joke')}}">
      <div class="tb">
        <div class="td"><input type="text" id="keywords" name="keywords" placeholder="joke keywords" required></div>
        <div class="td" id="s-cover">
          <button type="submit">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="num_of_results">
    {% if not no_searches and jokes|length == 0 %}
    No results
    {% endif %}
    {% if jokes|length > 0 %}
    Found {{jokes|length}} jokes
    {% endif %}
  </div>
  <div class="jokes">
    {% for joke in jokes %} {% set text = joke['joke'] %}
    <div class="joke">
      <p> {{text}} </p>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
</body>
</html>